@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.item {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .item .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1500px;
    height: 900px;
    position: relative;
  }
  
  .item .div-2 {
    display: flex;
    flex-direction: column;
    width: 710px;
    height: 702px;
    align-items: center;
    padding: 40px 50px;
    position: absolute;
    top: 99px;
    left: 395px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid;
    border-color: var(--lightmodegreygrey-200);
    box-shadow: 0px 0px 10px #0000001a;
  }
  
  .item .div-3 {
    position: absolute;
    width: 610px;
    height: 1px;
    top: 118px;
    left: 50px;
    background-color: var(--lightmodegreygrey-200);
  }
  
  .item .div-4 {
    display: flex;
    flex-direction: column;
    height: 97px;
    align-items: flex-start;
    gap: 16px;
    padding: 0px 0px 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    margin-top: -4px;
  }
  
  .item .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "MuseoModerno-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--lightmodegreygrey-900);
    font-size: 26px;
    text-align: center;
    letter-spacing: -0.26px;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .item .div-5 {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .item .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    color: var(--lightmodegreygrey-700);
    text-align: center;
    white-space: nowrap;
    font-family: "MuseoModerno-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .item .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    color: #8b7ee0;
    text-align: center;
    white-space: nowrap;
    font-family: "MuseoModerno-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .item .div-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 11px 0px 50px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -20.00px;
    margin-top: -4px;
  }
  
  .item .div-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .item .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    color: var(--lightmodegreygrey-900);
    font-family: "MuseoModerno-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .item .basic-inputs {
    display: flex;
    width: 296px;
    height: 40px;
    align-items: center;
    gap: 10px;
    padding: 13px 12px;
    position: relative;
    background-color: var(--lightmodelightlight-active);
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmodegreygrey-300);
  }
  
  .item .medium {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "MuseoModerno-Regular", Helvetica;
    font-weight: 400;
    color: var(--lightmodegreygrey-600);
    letter-spacing: 0;
    white-space: nowrap;
    position: relative;
    font-size: 13px;
    line-height: 14px;
  }
  
  .item .div-8 {
    display: flex;
    flex-direction: column;
    width: 610px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 0;
    left: 314px;
  }
  
  .item .div-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .item .text-wrapper-5 {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    color: var(--lightmodegreygrey-900);
    font-family: "MuseoModerno-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .item .basic-inputs-2 {
    width: 296px;
    justify-content: space-between;
    padding: 11px 12px;
    display: flex;
    height: 40px;
    align-items: center;
    position: relative;
    background-color: var(--lightmodelightlight-active);
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmodegreygrey-300);
  }
  
  .item .medium-2 {
    width: fit-content;
    font-family: "MuseoModerno-Regular", Helvetica;
    font-weight: 400;
    color: var(--lightmodegreygrey-600);
    letter-spacing: 0;
    white-space: nowrap;
    position: relative;
    font-size: 13px;
    line-height: 14px;
  }
  
  .item .img {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .item .text-wrapper-6 {
    position: absolute;
    width: 610px;
    top: 174px;
    left: 318px;
    color: var(--lightmodegreygrey-900);
    white-space: nowrap;
    font-family: "MuseoModerno-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .item .input-groups {
    display: flex;
    width: 292px;
    height: 40px;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 22px;
    left: 318px;
    background-color: var(--lightmodelightlight-active);
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmodegreygrey-300);
  }
  
  .item .icon {
    display: flex;
    width: 38px;
    border-radius: 6px 0px 0px 6px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 11px;
    position: relative;
    background-color: var(--lightmodegreygrey-100);
    border: 1px solid;
    border-color: var(--lightmodegreygrey-300);
  }
  
  .item .medium-3 {
    width: fit-content;
    font-family: var(--body-b-13-14-400-font-family);
    font-weight: var(--body-b-13-14-400-font-weight);
    color: var(--lightmodegreygrey-600);
    letter-spacing: var(--body-b-13-14-400-letter-spacing);
    white-space: nowrap;
    position: relative;
    font-size: var(--body-b-13-14-400-font-size);
    line-height: var(--body-b-13-14-400-line-height);
    font-style: var(--body-b-13-14-400-font-style);
  }
  
  .item .checkbox {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .item .checkbox-2 {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: var(--lightmodelightlight);
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--lightmodegreygrey-300);
  }
  
  .item .default {
    position: relative;
    width: fit-content;
    font-family: "MuseoModerno-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 11px;
    letter-spacing: -0.11px;
    line-height: 14px;
    white-space: nowrap;
  }
  
  .item .span {
    color: #4a5674;
    letter-spacing: -0.01px;
  }
  
  .item .text-wrapper-7 {
    color: #77819d;
    letter-spacing: -0.01px;
  }
  
  .item .text-wrapper-8 {
    color: #8b7ee0;
    letter-spacing: -0.01px;
    text-decoration: underline;
  }
  
  .item .text-wrapper-9 {
    color: #252f4a;
    letter-spacing: -0.01px;
    text-decoration: underline;
  }
  
  .item .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #8b7ee0;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .item .medium-4 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "MuseoModerno-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: -0.13px;
    white-space: nowrap;
    position: relative;
    font-size: 13px;
    line-height: 14px;
  }
  
  .item .div-9 {
    display: flex;
    flex-direction: column;
    width: 610px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 256px;
    left: 318px;
  }
  
  .item .medium-wrapper {
    width: 292px;
    gap: 10px;
    padding: 13px 12px;
    display: flex;
    height: 40px;
    align-items: center;
    position: relative;
    background-color: var(--lightmodelightlight-active);
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmodegreygrey-300);
  }
  
  .item .input-groups-2 {
    display: flex;
    width: 292px;
    height: 40px;
    align-items: center;
    gap: 12px;
    padding: 0px 0px 0px 12px;
    position: absolute;
    top: 361px;
    left: 318px;
    background-color: var(--lightmodelightlight-active);
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmodegreygrey-300);
  }
  
  .item .medium-5 {
    flex: 1;
    font-family: var(--body-b-13-14-400-font-family);
    font-weight: var(--body-b-13-14-400-font-weight);
    color: var(--lightmodegreygrey-600);
    letter-spacing: var(--body-b-13-14-400-letter-spacing);
    position: relative;
    font-size: var(--body-b-13-14-400-font-size);
    line-height: var(--body-b-13-14-400-line-height);
    font-style: var(--body-b-13-14-400-font-style);
  }
  
  .item .down-wrapper {
    display: inline-flex;
    flex: 0 0 auto;
    border-radius: 0px 6px 6px 0px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 11px;
    position: relative;
    background-color: var(--lightmodegreygrey-100);
    border: 1px solid;
    border-color: var(--lightmodegreygrey-300);
  }
  
  .item .text-wrapper-10 {
    position: absolute;
    width: 610px;
    top: 340px;
    left: 318px;
    color: var(--lightmodegreygrey-900);
    font-family: "MuseoModerno-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .item .div-10 {
    display: flex;
    flex-direction: column;
    width: 316px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 325px;
    left: 763px;
  }
  
  .item .ellipse {
    position: absolute;
    width: 258px;
    height: 259px;
    top: 690px;
    left: -48px;
    background-color: #8b7ee0;
    border-radius: 129px / 129.5px;
    transform: rotate(88.68deg);
  }
  
  .item .element {
    position: absolute;
    width: 632px;
    height: 516px;
    top: 454px;
    left: -92px;
    transform: rotate(88.68deg);
  }
  
  .item .flash {
    position: absolute;
    width: 490px;
    height: 510px;
    top: -19px;
    left: 5px;
    transform: rotate(-88.68deg);
  }
  
  .item .studyhub {
    position: absolute;
    width: 240px;
    height: 92px;
    top: 47px;
    left: 9px;
  }

  :root {
    --lightmodelightlight: rgba(255, 255, 255, 1);
    --lightmodegreygrey-900: rgba(7, 20, 55, 1);
    --lightmodegreygrey-700: rgba(75, 86, 117, 1);
    --lightmodegreygrey-600: rgba(120, 130, 157, 1);
    --lightmodegreygrey-200: rgba(241, 241, 244, 1);
    --lightmodegreygrey-300: rgba(219, 223, 233, 1);
    --lightmodegreygrey-100: rgba(249, 249, 249, 1);
    --lightmodelightlight-active: rgba(252, 252, 252, 1);
    --body-b-13-14-400-font-family: "Inter", Helvetica;
    --body-b-13-14-400-font-weight: 400;
    --body-b-13-14-400-font-size: 13px;
    --body-b-13-14-400-letter-spacing: 0px;
    --body-b-13-14-400-line-height: 14px;
    --body-b-13-14-400-font-style: normal;
  }