<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Активация аккаунта</title>
</head>
<body>
    <p>Здравствуйте, {{ user.first_name }}!</p>

    <p>Спасибо за регистрацию на нашем агрегаторе мероприятий. Чтобы завершить активацию аккаунта, перейдите по ссылке:</p>

    <p><a href="{{ activation_link }}">{{ activation_link }}</a></p>

    <p>Если вы не регистрировались, просто проигнорируйте это письмо.</p>

    <p>С уважением,<br>
    Команда хакатона</p>
</body>
</html>
