{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <select name="status">
        <option value="in_progress">Принять в работу</option>
        <option value="rejected">Отклонить</option>
        <option value="completed">Завершить</option>
    </select>
    
    {% if service_request.status == 'completed' %}
        <input type="file" name="result_file" required>
    {% endif %}
    
    <button type="submit">Обновить статус</button>
</form>
{% endblock %}