<h2>Register</h2>
<form method="post">
    {% csrf_token %}

    <input type="text" name="last_name" placeholder="Фамилия" required>
    <input type="text" name="first_name" placeholder="Имя" required>
    <input type="text" name="middle_name" placeholder="Отчество">

    <input type="text" name="username" placeholder="Логин" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <input type="password" name="password_confirm" placeholder="Повторите пароль" required>

    <input type="tel" name="phone" placeholder="Номер телефона" required>
    <input type="text" name="city" placeholder="Город" required>
    <input type="date" name="birth_date" placeholder="Дата рождения" required>

    <select name="role" required>
        <option value="" disabled selected>Ваша роль</option>
        <option value="customer">Заказчик</option>
        <option value="executor">Исполнитель</option>
    </select>

    <button type="submit">Регистрация</button>
</form>
<p>Есть аккаунт <a href="/login/">Логин</a></p>